.footer {
    background-color: var(--black);
    display: flex;
    padding: 8px 0;
    border-top: 3px solid var(--dark);
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: relative;
    margin-top: auto;
}
.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    max-width: 1136px;
    width: 88.75vw;
}

.footer__menu {
    display: flex;
    gap: 56px;
}

.footer__menu__link {
    font-size: 16px;
    transition: all 0.3s;
    color: var(--white);
}
.footer__menu__link:hover {
    color: var(--description);
}

.moxxi {
    position: absolute;
    bottom: 40px;
    right: 2vw;
    cursor: pointer;
    z-index: 100;
}

@media screen and (max-width: 948px) { 
    .footer__menu__link, .footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 860px) { 
    .footer__menu{
        gap: 38px;
    }

    .footer__logo {
        width: 80%;
    }

    .moxxi {
        bottom: 30px;
        right: 1.2vw;
    }
}

@media screen and (max-width: 720px) { 
    .footer__logo {
        display: none;
    }

    .footer__wrapper p{
        display: none;
    }

    .footer__wrapper {
        justify-content: center;
        padding: 6px;
    }

    .moxxi {
        bottom: 11px;
        right: 1vw;
    }
}

@media screen and (max-width: 616px) { 
    .moxxi {
        width: 12%;
        bottom: 18px;
        right: 2px;
    }
}

@media screen and (max-width: 500px) { 
    .footer{
        display: none;
    }
}
